<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lenguajes">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Lenguajes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicamentos">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Medicamentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prescripcion">
      <ion-icon name="square"></ion-icon>
      <ion-label>Prescripción</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
